.link-color{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: 700;                                                                                                                     ;
    text-decoration: none;
    background: 0 0;
    margin-top: 0.5rem;
    border: solid 3px;
    padding-top: 0.75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    border-color: #fff; 
    color: #fff;
    height: 3.5rem;
    border-radius:30%;
    width: 9rem;
    text-align: center;
    justify-content: center;
}